*{
    margin: 0;
}

.contenedor{ 
    background-color: aqua;
    background-image: url(https://i.pinimg.com/564x/2f/dc/81/2fdc81f21008a06036146a1404cfc746.jpg);
    background-repeat: repeat-x;
    background-position-x: center;
    width: 100w;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}